body, html{

  background: url('Global-Issues-Summit-2017.mp4') no-repeat;
  background-size: 1000px;
  font-family: "calibri";
  color: black;
  background-position: top;
  text-align: center;
  background-color:

}


{
    font-family: "calibri";
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E6E6E6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #028090;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #114B5F;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
